/* 
    Descrition: Estilos del inicio de sesión del software
    Created on : 14/04/2016, 05:27:09 AM
    Author     : Miguel Salazar

*/

body {
	font: sans-serif;

    
}

#img-captcha {
    min-width: 50%;
    text-align: center;
    margin:auto;
    margin-left: 1px;
    border: 1px solid #ececec;
    margin-top: 2%;
}
#btn-captcha {
    
    cursor: pointer; 
    height: 8%; 
    width: 8%; 
    margin-left:10%;
}
#input-captcha {

}

h1 { margin: 0; }

#login-form a {
	/*color: #999;*/
	text-decoration: none;
}

#login-form a:hover { 
    /*color: #1dabb8; */
    text-decoration: underline;
}


fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }

/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: auto;
	width: 370px;
        margin-top: 5%;
        margin-bottom:1%;
}

#login-form h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 16px;
	padding: 30px;
	text-align: center;
	text-transform: uppercase;
}

#login-form fieldset {
	background: #f0f0f0;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"]{
        color: #999;
	border: 1px solid #dcdcdc;
	padding: 16px 14px;
	width: 320px;
        margin:1px;
}
#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
	color: #777;
        box-shadow: 0px 0px 2.5px 1px rgba(25,141,152,1);
        
}
#login-form input[type="text"]:hover,
#login-form input[type="password"]:hover {
	color: #555;
}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 25px;
	padding: 14px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }

#login-form footer {
	font-size: 13px;
	margin-top: 30px;
}

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}
